@model FindJobSolution.ViewModels.Catalog.JobInformations.JobInformationViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết người dùng</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="index" asp-controller="JobInformation">Trở lại danh sách công việc</a>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobInformationId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobInformationId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobTitle)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobTitle)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobLevel)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobLevel)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobType)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobType)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayTextFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.WorkingLocation)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.WorkingLocation)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MinSalary)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MinSalary)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MaxSalary)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MaxSalary)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ViewCount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ViewCount)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.RecruiterId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.RecruiterId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobInformationTimeStart)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobInformationTimeStart)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobInformationTimeEnd)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobInformationTimeEnd)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
