@using FindJobSolution.ViewModels.Common
@model PagedResult<FindJobSolution.ViewModels.Catalog.JobInformations.JobInformationViewModel>

@{
    ViewData["Title"] = "Công việc";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách công việc</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách công việc</li>
    </ol>
    
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Create" asp-controller="User">Thêm công việc mới</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                JobInformationId
                            </th>
                            <th>
                                JobTitle
                            </th>
                            <th>
                                JobLevel
                            </th>
                            <th>
                                JobType
                            </th>
                            
                            <th>
                                Salary
                            </th>
                            
                            
                            <th>
                                Status
                            </th>
                           
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobInformationId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobLevel)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.JobType)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Salary)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
@*            @await Component.InvokeAsync("Pager", Model)
*@        </div>
    </div>
</div>
