@model FindJobSolution.ViewModels.Catalog.JobSeekers.JobSeekerViewModel

@{
    ViewData["Title"] = "UserProfile";
}

<main>
    <div class="master_layout_container master_layout_background">
        <div class="master_layout_row">
            <div class="master_layout_col_3h2 master_layout_col_13">
                <div class="vnwBox">
                    <p class="title border-bottom">
                        Nghề nghiệp của tôi
                        <ul class="sidebarMenu">
                            <li class="sidebarMenuItem">
                                <a href="@Url.Action("UserProfile", "UserJobSeeker")">
                                    <span class="navIcon">
                                        <img src="~/assets/img/icon/person1.png" alt="">
                                    </span>
                                    <span class="textLabel">Hồ sơ của tôi</span>
                                </a>

                            </li>
                            <li class="sidebarMenuItem">
                                <a href="@Url.Action("UserJob", "UserJobSeeker")">
                                    <span class="navIcon">
                                        <img src="~/assets/img/icon/briefcase1.png" alt="">
                                    </span>
                                    <span class="textLabel">Việc làm của tôi</span>
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="master_layout_col_3h2 master_layout_col_2">
                <div class="vnwBox vnwBoxSmall">
                    <span class="headerTitle">Hồ sơ của tôi</span>
                </div>
                <div class="Block_Block__1rMJ_">
                    <div class="ContactInformation_contactInformationComponent__2Rwzr">
                        <h2 class="ContactInformation_blockTitle__VfSNg">Thông tin cá nhân</h2>
                        <div>
                            <div class="ContactInfoView_viewSectionWrapper__2SQdc">
                                <div class="native-grid">
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="undefied roww">
                                                <span class="undefied col-44">Tên</span>
                                                <div class="col-88 text-truncate fw-6">@Html.DisplayFor(model => model.Name)</div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="undefied roww">
                                                <span class="undefied col-44">Email</span>
                                                <div class="col-88 text-truncate fw-6">@Html.DisplayFor(model => model.Email)</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44">
                                                        <span>Điện thoại</span>
                                                    </div>
                                                    <div class="col-88">
                                                        <span class="fw-6">@Html.DisplayFor(model => model.PhoneNumber)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="roww">
                                                <div class="col-44">
                                                    <span>Ngày sinh</span>
                                                </div>
                                                <div class="col-88">
                                                    <span class="fw-6">@Html.DisplayFor(model => model.Dob)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44">
                                                        <span>Quốc tịch</span>
                                                    </div>
                                                    <div class="col-88">
                                                        <span class="fw-6">@Html.DisplayFor(model => model.National)</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="roww">
                                                <div class="col-44">
                                                    <span>Giới tính</span>
                                                </div>
                                                <div class="col-88">
                                                    <span class="fw-6">@Html.DisplayFor(model => model.Gender)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44">
                                                        <span class="undefied col-44">Ngành nghề</span>
                                                        </div>
                                                    <div class="col-88">
                                                        <span class="fw-6">@ViewBag.JobNamed</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <span class="undefied col-44">Lương mong muốn</span>
                                                    <div class="col-88">
                                                        <span class="fw-6" style="margin-left: -25px;">@Html.DisplayFor(model => model.DesiredSalary)$</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44">
                                                        <span>Địa chỉ</span>
                                                    </div>
                                                    <div class="col-88">
                                                        <div class="fw-6 text-truncate">@Html.DisplayFor(model => model.Address)</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <span class="undefied col-44">Ảnh đại diện</span>
                                                    <div class="col-88">
                                                        <img src="http://localhost:2001/@Html.DisplayFor(model => model.Avatar)" alt="image" style="width: 150px" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <span class="undefied col-44">CV</span>
                                                    <div class="col-88">
                                                        <img src="http://localhost:2001/@Html.DisplayFor(model => model.ThumbnailCv)" alt="image" style="width: 200px"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left:1px">
                                        <a href="@Url.Action("UserProfileEdit", "UserJobSeeker", new {id = Model.jobseekerId})" class="btn btn-primary">Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Block_Block__1rMJ_">
                    <div class="ContactInformation_contactInformationComponent__2Rwzr">
                        <h2 class="ContactInformation_blockTitle__VfSNg">Kinh nghiệm làm việc</h2>
                        <div>
                            <div class="ContactInfoView_viewSectionWrapper__2SQdc">
                                <div class="native-grid">
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="undefied roww">
                                                <span class="undefied col-44" style="grid-column: span 5">Tên công ty</span>
                                                <div class="col-88 text-truncate fw-6">@Html.DisplayFor(model => model.CompanyName)</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44" style="grid-column: span 5">
                                                        <span>Chức danh</span>
                                                    </div>
                                                    <div class="col-88 text-truncate fw-6">                                                     
                                                        @Html.DisplayFor(model => model.JobTitle)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="roww">
                                                <div class="col-44" style="grid-column: span 6">
                                                    <span>Thời gian làm việc</span>
                                                </div>
                                                <div class="col-88 text-truncate fw-6">
                                                    @Html.DisplayFor(model => model.WorkingTime)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="undefied col-22">
                                            <div class="roww">
                                                <div class="col-44" style="grid-column: span 9">
                                                    <span>Mô tả kinh nghiệm làm việc</span>
                                                </div>
                                                <div class="col-88 text-truncate fw-6">
                                                    @Html.DisplayFor(model => model.WorkExperience)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left:1px">
                                        <a href="@Url.Action("UserOldCompanyEdit", "UserJobSeeker" , new {id = Model.jobseekerId})" class="btn btn-primary">Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Block_Block__1rMJ_">
                    <div class="ContactInformation_contactInformationComponent__2Rwzr">
                        <h2 class="ContactInformation_blockTitle__VfSNg">Kỹ năng cá nhân</h2>
                        <div>
                            <div class="ContactInfoView_viewSectionWrapper__2SQdc">
                                <div class="native-grid">
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="undefied roww">
                                                <span class="undefied col-44" style="grid-column: span 5">Chuyên ngành</span>
                                                @*<div class="col-88 text-truncate fw-6">@knntv.ChuyenNganh</div>*@
                                            </div>
                                        </div>
                                        <div class="col-lg-66">
                                            <div>
                                                <div class="roww">
                                                    <div class="col-44" style="grid-column: span 5">
                                                        <span>Trường</span>
                                                    </div>
                                                    <div class="col-88">
                                                        @*<span class="fw-6">@knntv.Truong</span>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="col-lg-66">
                                            <div class="roww">
                                                <div class="col-44" style="grid-column: span 6">
                                                    <span>Bằng cấp</span>
                                                </div>
                                                <div class="col-88">
                                                    @*<span class="fw-6">@knntv.BangCap</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="roww">
                                        <div class="undefied col-22">
                                            <div class="roww">
                                                <div class="col-44" style="grid-column: span 9">
                                                    <span>Thành tựu</span>
                                                </div>
                                                <div class="col-88">
                                                    @*<div class="fw-6 text-truncate">@knntv.ThanhTuu</div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-left:1px">
                                        <a href="@Url.Action("UserJobEducationEdit", "UserJS")" class="btn btn-primary">Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="master_layout_col_3h2 master_layout_col_13">
                <div class="vnwBox" style="display:block">
                    <p class="title border-bottom">Việc làm bạn sẽ thích</p>
                    <div class="roww" style="margin:0px;">
                        <div class="vnmBox1" style="display:block">
                            <div class="joblove">
                                <div class="joblove-row">
                                    <div class="khung">
                                        <div class="logobox">
                                            <img class="logo" src="~/assets/img/logo/logo.png">
                                        </div>
                                    </div>
                                    <div class="khung2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
