@model FindJobSolution.ViewModels.Catalog.JobSeekers.JobSeekerViewModel

@{
    ViewData["Title"] = "Chi tiết người tìm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Chi tiết người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/home/index">Trang chủ</a></li>
        <li class="breadcrumb-item active">Chi tiết người tìm việc</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="index" asp-controller="JobSeeker">Trở lại danh sách người tìm việc</a>
        </div>
        <div class="card-body">
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <dl class="row">
                            <div>
                                <h4>Chi tiết người tìm việc</h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        Id người tìm việc
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.jobseekerId)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Công việc
                                    </dt>
                                    <dd class="col-sm-10">
                                        @ViewBag.JobNamed
                                    </dd>
                                    <dt class="col-sm-2">
                                        Địa chỉ
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Address)
                                    </dd>
                                    <dt class="col-sm-2">
                                       Giới tính
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Gender)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Tên
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Quốc tịch
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.National)
                                    </dd>
                                    <dt class="col-sm-2">
                                        Mức lương mong muốn
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.DesiredSalary) $
                                    </dd>
                                    <dt class="col-sm-2">
                                        Cv
                                    </dt>
                                    <dd class="col-sm-10">
                                        <a target="_blank" href="http://127.0.0.1:2001/@Html.DisplayFor(model => model.ThumbnailCv)" style="color: black;">Xem cv tại đây</a>
                                    </dd>
                                </dl>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

