@using FindJobSolution.ViewModels.System.User
@model FindJobSolution.ViewModels.Catalog.Recruiters.RecruiterVM


@{
    ViewData["Title"] = "IndexRecuiter";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/chart-area-demo.js"></script>
    <script src="/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="/assets/demo/datatables-demo.js"></script>
}
<!doctype html>
<html lang="en">
<head>
    <title>Sidebar 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../sidebar/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <style>
        html,
        body {
            position: relative;
            height: 100%;
        }

        body {
            background: #eee;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
        }

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    </style>

</head>
<body style="overflow-x: hidden">
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="order-last img active" style="background-image: url(../sidebar/images/bg_1.jpg); max-height:850px; overflow: hidden ;position:sticky; top:0rem">
            <div class="cusborderu">
            </div>
            @*@if (User.Identity.IsAuthenticated)
            {
                <div class="">
                    <h1><span><img src="~/assets/img/icon/profile-icon-white-22.jpg" style="height: 30px; margin-left:24px"></span><a href="index.html" class="logo" style="display:inline-grid ;padding:10px 30px"> <span></span> </a></h1>
                    <ul class="list-unstyled components mb-5">
                        <li class="active">
                            <a href="@Url.Action("Index", "UserRecuiter")"><span class="fa fa-user mr-3"></span>Quản lý tài khoản</a>
                        </li>
                        <li>    
                            <a href="@Url.Action("Edit", "UserRecuiter")"><span class="fa fa-building mr-3" aria-hidden="true"></span>Thông tin công ty</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "UserRecuiter")"><span class="fa fa-times mr-3"></span>Thoát</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="">
                    <div class="sidebar-menu__header"></div>
                    <div class="sidebar-menu__body--notlogin" style="min-height:705px">
                        <p style="margin-top: 1rem!important ; color: black">Đăng nhập để tuyển dụng và nhiều thứ khác nữa</p>
                        <a href="@Url.Action("Login", "UserRecuiter")" class="btn-page--orj" style="color:white">Đăng nhập</a>
                    </div>
                    <div class="sidebar-menu__footer" style="text-align:center">
                        <a href="@Url.Action("Create", "UserRecuiter")" class="clicklink">Tôi không có tài khoản</a>
                    </div>
                </div>
            }*@
            <div class="">
                <div class="sidebar-menu__header"></div>
                <div class="sidebar-menu__body--notlogin" style="min-height:705px">
                    <p style="margin-top: 1rem!important ; color: black; font-weight: bold; font-size: 30px">Chào mừng quý công ty @User.Identity.Name đến với website chúng tôi</p>
                    
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a asp-action="Index" asp-controller="UserRecuiter" class="btn head-btn2">Thông Tin</a>
                        </div>
                        <br></br>
                        <form method="post" asp-controller="UserRecuiter" asp-action="Logout">
                            <button type="submit" class="dropdown-item" value="Logout" style="background-color: #ff3333; color: white">Đăng xuất</button>
                        </form>
                    }
                    else
                    {
                        <a asp-action="Create" asp-controller="UserRecuiter" class="btn head-btn1">Đăng ký</a>
                        <a asp-action="Login" asp-controller="UserRecuiter" class="btn head-btn2">Đăng nhập</a>
                    }*@
                </div>
                <div class="sidebar-menu__footer" style="text-align:center">
                    <a href="@Url.Action("Create", "UserRecuiter")" class="clicklink">Tôi không có tài khoản</a>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" style="z-index:1; min-height: 100px;">
            <section class="main-wrapper" style="background-color: #005385;">
                <div class="container">
                    <div class="" style="margin-left: 15px ;margin-right: 15px; padding-top: 1rem!important ">
                        <div class="col-sm-12">
                            <div class="" style="text-align: right!important;"></div>
                        </div>
                    </div>

                    <div class="" style="margin-left: 15px ;margin-right: 15px;">
                        <div class="col-12">
                            <div class="section-container" style="color:#fff!important">
                                <div class="" style="margin-bottom:auto!important; margin-top:auto!important">
                                    <h1 style="font-size:28px ;font-weight:700; transition-property: opacity,transform; color:#fff; opacity: 1;transform: translateZ(0); font-family: Open Sans,sans-serif;">Giúp doanh nghiệp của bạn vươn xa</h1>
                                    <a style="font-size: 1rem;font-weight: 400;font-stretch: normal; font-style: normal; letter-spacing: normal; line-height: 24px;">Tìm đúng người trao đúng việc</a>
                                </div>

                                <div class="" style="width: 50%; padding: 0; margin-right: -10%; margin-top: auto!important;">
                                    <img src="../assets/img/logo/emp.png" class="" style="width:100% ; max-width:100%; vertical-align: middle; border-style: none;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="" style="background-color: white">
                <div class="" style="padding: 95px 5%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; height: 350px">
                    <div class="" style="margin-right: -15px; margin-left: -15px; overflow: hidden;">
                        <div class="col-12 text-center">
                            <div class="" style="font-size:28px ; font-weight:700; font-family:Open Sans,sans-serif; color: #474747; text-transform:uppercase; ">
                                Các doanh nghiệp hàng đầu chọn Ticket to Future
                            </div>
                            <div class="" style="display:flex ; justify-content:center ; align-items:center; flex-direction: column;">
                                <div class="" style="flex-direction: row; display:flex ; justify-content:center ; align-items:center;">
                                    <div class="trust_by" style="width:100%; height:85px; margin:15px;">
                                        <img src="~/assets/img/company_logo/company_logo_1.png" style="width: 160px; height: 120px; max-width:100%" />
                                    </div>
                                    <div class="trust_by" style="width:100%; height:85px; margin:15px;">
                                        <img src="~/assets/img/company_logo/company_logo_2.png" style="width: 200px; height: 105px; max-width:100%" />
                                    </div>
                                    <div class="trust_by" style="width:100%; height:85px; margin:15px;">
                                        <img src="~/assets/img/company_logo/company_logo_3.png" style="width: 181.5px; height: 94.5px; max-width:100%" />
                                    </div>
                                    <div class="trust_by" style="width:100%; height:85px; margin:15px;">
                                        <img src="~/assets/img/company_logo/company_logo_4.png" style="width: 160px; height: 84px; max-width:100%" />
                                    </div>
                                    <div class="trust_by" style="width:100%; height:85px; margin:15px;">
                                        <img src="~/assets/img/company_logo/company_logo_5.png" style="width: 90px; height: 90px; max-width:100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="content" style="z-index:1; min-height:800px">
       @* <section class="" style="background-color: #f5f5f5; margin-top: 80px">
            <div class="" style="padding: 95px 5%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; height: 500px">
                <div class="" style="margin-right: -15px; margin-left: -15px; overflow: hidden;">
                    <div class="col-12 text-center">
                        <div class="" style="font-size:28px ; font-weight:700; font-family:Open Sans,sans-serif; color: #474747; text-transform:uppercase; ">
                            Khách hàng nói gì về chúng tôi?
                        </div>
                    </div>
                </div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>*@
        <section class="" style="background-color: #f5f5f5;">
            <div class="" style="padding: 50px 5%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; height: 200px">
                <div class="col-12 text-center">
                    <p class="" style="font-size: 1.25rem; font-weight: 400; font-stretch: normal; font-style: normal; letter-spacing: normal; line-height: 30px; margin-top:10px">
                        Đăng tuyển ngay hôm nay?
                        <br />
                        Bắt đầu trong vài phút
                    </p>
                    <a href="@Url.Action("LoginEmployer", "Home")" class="btn-page--orj" style="color:white">Tuyển dụng</a>
                </div>
            </div>
        </section>
    </div>

    <script src="../sidebar/js/jquery.min.js"></script>
    <script src="../sidebar/js/popper.js"></script>
    <script src="../sidebar/js/bootstrap.min.js"></script>
    <script src="../sidebar/js/main.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

</body>
</html>

