@model FindJobSolution.ViewModels.Catalog.JobInformations.JobInformationViewModel

@{
    ViewData["Title"] = "JobDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
    .shade {
        background-color: aqua;
    }

    .body-container {
        /*remove the container default padding  attribute*/
        padding-left: 0px !important;
        padding-right: 0px !important;
        /*increase width as per your need*/
        max-width: 100%;
    }
</style>
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeout('slow');
        }, 2000);
    </script>
}
    <main>
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
        @if (TempData != null)
        {
            <div id="msgAlert" class="alert alert-light" role="alert">
                @TempData["result"]
            </div>
        }
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                @{
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50" style="border: 1px solid #ededed;">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#">
                                        @*{
                                    var imgsrc = "";
                                    var base64 = Convert.ToBase64String(ntd.Logo.ToArray());
                                    imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                    <img src='@imgsrc' style="max-width:100px;max-height:100px" />
                                    }*@
                                    </a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>@Html.DisplayFor(model => model.JobTitle)</h4>
                                    </a>
                                    <ul>
                                        <li>@Model.CompanyName</li>
                                        <li>@Html.DisplayFor(model => model.JobLevel)</li>
                                        <li><i class="fas fa-map-marker-alt"></i>@Html.DisplayFor(modelItem => Model.WorkingLocation)</li>
                                        <li>$@Html.DisplayFor(modelItem => Model.MinSalary)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        <!-- job single End -->
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Mô tả công việc</h4>
                                </div>
                                <p>@Html.Raw(Model.Description)</p>
                            </div>

                        </div>
                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Thông tin việc làm</h4>
                            </div>
                            <ul>
                                <li>Posted date : <span>@Html.DisplayFor(model => model.JobInformationTimeEnd)</span></li>
                                <li>Địa chỉ : <span>@Html.DisplayFor(model => model.WorkingLocation)</span></li>
                                <li>Loại công việc : <span>@Html.DisplayFor(model => model.JobType)</span></li>
                                <li>Lương :  <span>$@Html.DisplayFor(model => model.MinSalary) monthly</span></li>
                                <li>Ngành nghề : <span>@Model.JobTitle</span></li>
                            </ul>
                            <div class="col-lg-3" style="display: flex; align-content: center; align-items: center;">
                                <div style="display: flex; align-content: center; align-items: center;">
                                    <div class="apply-btn2" style="margin-left:-17px;padding-right:10px">
                                        <input type="submit" value="Xin việc" name="value" class="btn" style=" background: #fb246a; text-transform: capitalize; color: #fff; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 500; letter-spacing: 1px; line-height: 0; padding: 27px 44px; border-radius: 0px; transition: color 0.4s linear; position: relative; z-index: 1;  border: 0; overflow: hidden; margin: 0;"
                                               onclick="location.href='@Url.Action("ApplyJob", new { id = Model.JobInformationId})'" />
                                    </div>
                                    <div class="apply-btn2">
                                        <input type="submit" value="Lưu việc" name="value" class="btn" style=" background: #fb246a; text-transform: capitalize; color: #fff; cursor: pointer; display: inline-block; font-size: 14px; font-weight: 500; letter-spacing: 1px; line-height: 0; padding: 27px 44px; border-radius: 0px; transition: color 0.4s linear; position: relative; z-index: 1;  border: 0; overflow: hidden; margin: 0;"
                                               onclick="location.href='@Url.Action("SaveJob", new { id = Model.JobInformationId})'" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Thông tin công ty</h4>
                            </div>
                            @*<span>@Model.CompanyName</span>*@
                            <p>@*Model.SoLuocCongTy*@</p>
                            <ul>
                                <li>Name: <span>@Model.CompanyName</span></li>
                                <li>SĐT: <span>@Model.SDT</span></li>
                                <li>Email: <span>@Model.email</span></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- job post company End -->
</main>



